#back {

    background-repeat: no-repeat;
    background-size: cover;
    height : 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url("https://i.ibb.co/xmtn1c5/19e3b2227c099c2033206fc7142c083f.jpg");

}

.carousel-caption{
    color: black;
}

li {
    padding-right: 2rem;
}

li > a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.carousel {
    max-width: 45%;
}

#wd {
    display: flex;
    justify-content: space-around;
}
